<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a translate="header.home" class="navbar-brand" href="#/"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li><a translate="header.kittens" href="#/kittens"></a></li>
        <li><a translate="header.videogames" href="#/videogames"></a></li>
        <button type="button" ng-click="changeLanguage('es')" translate="header.es" class="btn btn-default navbar-btn"></button>
        <button type="button" ng-click="changeLanguage('en')" translate="header.en" class="btn btn-default navbar-btn"></button>
      </ul>
    </div>
  </div>
</nav>