<div class="container-fluid">
	<div class="centered-text">
		<h1 translate="videogames.title"></h1>
		<p translate="videogames.description" class="lead"></p>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<div class="videogame-container">
				<a ng-href="http://www.rocketleague.com/">
					<div class="videogame-img-container">
						<img ng-src="img/rocket_league.jpg" class="img-responsive"></img>
						<div class="videogame-title-container">
							<h2 translate="videogames.rocket_league.title"></h2>
						</div>
					</div>
				</a>
				<p translate="videogames.rocket_league.description" class="text-justify"></p>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="videogame-container">
				<a ng-href="http://www.smashbros.com/">
					<div class="videogame-img-container">
						<img ng-src="img/ssb4.png" class="img-responsive"></img>
						<div class="videogame-title-container">
							<h2 translate="videogames.ssb4.title"></h2>
						</div>
					</div>
				</a>
				<p translate="videogames.ssb4.description" class="text-justify"></p>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="videogame-container">
				<a ng-href="https://telltale.com/series/the-wolf-among-us/">
					<div class="videogame-img-container">
						<img ng-src="img/twau.jpg" class="img-responsive"></img>
						<div class="videogame-title-container">
							<h2 translate="videogames.twau.title"></h2>
						</div>
					</div>
				</a>
				<p translate="videogames.twau.description" class="text-justify"></p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<div class="videogame-container">
				<a ng-href="https://es.wikipedia.org/wiki/Ninja_Gaiden_II_(videojuego_de_2008)">
					<div class="videogame-img-container">
						<img ng-src="img/ninja_gaiden_2.png" class="img-responsive"></img>
						<div class="videogame-title-container">
							<h2 translate="videogames.ninja_gaiden_2.title"></h2>
						</div>
					</div>
				</a>
				<p translate="videogames.ninja_gaiden_2.description" class="text-justify"></p>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="videogame-container">\
				<a ng-href="http://www.brokenagegame.com/">
					<div class="videogame-img-container">
						<img ng-src="img/broken_age.jpg" class="img-responsive"></img>
						<div class="videogame-title-container">
							<h2 translate="videogames.broken_age.title"></h2>
						</div>
					</div>
				</a>
				<p translate="videogames.broken_age.description" class="text-justify"></p>
			</div>
		</div>
	</div>
</div>